<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{#if cur_user}}
        
      {{else}}
        <div>
          <center><h1>Welcome</h1></center>

          <a class="btn btn-default" href="/products">Search products</a>
        </div> </br>
        {{#each product}}
          <div style="height: 200px; width: 450px; ">
            <div style="height: 150px; width: 150px; float:left; border: 1px solid black">
            <img src= {{product.productPhotos}}></div>
            <div style="height: 100px; width:290px; float: right; padding-left: 20px; background-color:#D3D3D3">
              <a href="/products/{{this.username}}/{{this.slug}}">
                  <h4 class="post-title">
                      {{this.productName}} </br>
                      {{this.productPrice}}
                  </h4>
              </a>
              <p class="post-meta">Owner: <a href="/users/{{this.username}}">{{this.username}}</a></p>
            </div>
          </div>
          <hr>
        {{/each}}
       
      {{/if}}
    </div>
  </div>
</div>
